.title {
    text-align: center;
    line-height: 15px;
    background-color: rgb(192, 17, 192);
    width: 100%;
    height: 175px;
}

.title h1 {
    font-size: 64px;
}

html {
    font-family: sans-serif;
    background-color: #333;
    color: whitesmoke;
}

.page {
    width: 99%;
    height: 175px;
    background-color: rgb(192, 17, 192);
    color: whitesmoke;
    line-height: 5px;
    text-align: center;
    border-radius: 15px;
}

.page h3 {
    font-size: 48px;
}

.page button {
    width: 98%;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 24px;
    height: 40px;
}